<button mat-icon-button class="hvr-btn" color="primary">
  <mat-icon>help</mat-icon>
</button>

<div class="color-legend">
    <table>
        <tbody>
            <tr>
                <td><div class="box room sel"></div></td>
                <td>Selected</td>
            </tr>

            <tr>
                <td><div class="box room empty"></div></td>
                <td>Available</td>
            </tr>

            <tr>
                <td><div class="box room partial"></div></td>
                <td>Partially filled</td>
            </tr>

            <tr>
                <td><div class="box room already-partial"></div></td>
                <td>Partially filled (this contingent)</td>
            </tr>

            <tr>
                <td><div class="box room already"></div></td>
                <td>Filled (this contingent)</td>
            </tr>

            <tr>
                <td><div class="box room already-fullshared"></div></td>
                <td>Filled (partially this contingent)</td>
            </tr>

            <tr>
                <td><div class="box room occupied"></div></td>
                <td>Filled</td>
            </tr>

            <tr>
                <td><div class="box room notready"></div></td>
                <td>Not ready</td>
            </tr>

            <tr>
                <td><div class="box room maintainance"></div></td>
                <td>Needs maintainance</td>
            </tr>

            <tr>
                <td><div class="box room unavailable"></div></td>
                <td>Unavailable</td>
            </tr>

            <tr>
                <td><div class="box room"></div></td>
                <td>Unknown</td>
            </tr>
        </tbody>
    </table>
</div>
