<div *ngIf="ca">
    <div class="row">
      <div class="col-12"><i>Subcontingent</i></div>
      <div class="col-8 col-md-3"><b>Contingent Leader No.</b></div>
      <div class="col-4 col-md-9"> {{ ca.contingentLeaderNo }} </div>

      <div class="col-8 col-md-3"><b>Subcontingent No.</b></div>
      <div class="col-4 col-md-9"> {{ ca.contingentArrivalNo }}</div>

      <div class="col-8 col-md-3"><b>Approval</b></div>
      <div class="col-4 col-md-9">
        <span style="color: green" *ngIf="ca.approved">
          <b>Approved</b>
        </span>
        <span style="color: red" *ngIf="!ca.approved">
          <b>Pending</b>
        </span>
      </div>

      <div class="col-8 col-md-3"><b>Room Allocation</b></div>
      <div class="col-4 col-md-9">
        <span style="color: green" *ngIf="!ca.roomAllocation || ca.roomAllocation.length == 0">
          <b>Pending</b>
        </span>
        <span style="color: red" *ngIf="ca.roomAllocation && ca.roomAllocation.length > 0">
          <b>Allocated</b>
        </span>
      </div>

      <div class="col-8 col-md-3"><b>Male (filled, counted):</b></div>
      <div class="col-4 col-md-9"> <b>{{ ca.male }}</b> <small>== {{ ca.peopleMale }}</small></div>

      <div class="col-8 col-md-3"><b>Female (filled, counted):</b></div>
      <div class="col-4 col-md-9"> <b>{{ ca.female }}</b> <small>== {{ ca.peopleFemale }}</small></div>

      <div class="col-8 col-md-3"><b>Remark:</b></div>
      <div class="col-4 col-md-9">{{ ca.remark }}</div>

      <div class="col-12">&nbsp;</div>
      <div class="col-12"><i>Contingent</i></div>

      <ng-container *ngIf="contingent">
          <div class="col-8 col-md-3"><b>Registered (M):</b></div>
          <div class="col-4 col-md-9"> {{ GetPeopleBySex(false) }} </div>

          <div class="col-8 col-md-3"><b>Registered (F):</b></div>
          <div class="col-4 col-md-9"> {{ GetPeopleBySex(true) }} </div>

          <div class="col-8 col-md-3"><b>Arrived (M):</b></div>
          <div class="col-4 col-md-9"> {{ GetArrivedContingent(false) }} </div>

          <div class="col-8 col-md-3"><b>Arrived (F):</b></div>
          <div class="col-4 col-md-9"> {{ GetArrivedContingent(true) }} </div>

          <div class="col-8 col-md-3"><b>Remark:</b></div>
          <div class="col-4 col-md-9"> {{ contingent.remark }} </div>
      </ng-container>
    </div>

    <br>

    <button class="col-12 col-md-2"
          mat-raised-button color="accent"
          (click)="allocate()"
          *ngIf="dataService.CheckIfLink(ca.links, 'approve')">
        Allocate Rooms
  </button>
</div>
