.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.hostel-link {
    cursor: pointer;
    color: darkblue !important;
}

.onspot-boxes {
    margin-top: 1em;
}

.onspot-boxes .input {
    margin-right: 1em;
}

.row div {
    display: inline-block;
}

.card {
    padding: 15px 8px;
    margin: 10px 0;
}

.already-approved {
    color: red;
    display: block !important;
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    margin-right: 10px;
    width: 180px;
    max-width: 100%;
}

.input.big {
    width: 370px;
    max-width: 100%;
}

@media (max-width: 480px) {
    .input, .input.big {
        width: 100%;
    }
}
