<!-- Loading spinner -->
<div *ngIf="!ca">
  <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<div *ngIf="ca">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card mat-elevation-z2 col-12">
          <div class="col-12"><i>Subcontingent</i></div>
          <div class="col-8 col-md-6"><b>Contingent Leader No.</b></div>
          <div class="col-4 col-md-6"> {{ ca.contingentLeaderNo }} </div>

          <div class="col-8 col-md-6"><b>Subcontingent No.</b></div>
          <div class="col-4 col-md-6"> {{ ca.contingentArrivalNo }}</div>

          <div class="col-8 col-md-6"><b>Approval</b></div>
          <div class="col-4 col-md-6">
            <span style="color: green" *ngIf="ca.approved">
              <b>Approved</b>
            </span>
            <span style="color: red" *ngIf="!ca.approved">
              <b>Pending</b>
            </span>
          </div>

          <div class="col-8 col-md-6"><b>Room Allocation</b></div>
          <div class="col-4 col-md-6">
            <span style="color: green" *ngIf="!ca.roomAllocation || ca.roomAllocation.length == 0">
              <b>Pending</b>
            </span>
            <span style="color: red" *ngIf="ca.roomAllocation && ca.roomAllocation.length > 0">
              <b>Allocated</b>
            </span>
          </div>

          <div class="col-8 col-md-6"><b>Male</b> (filled, counted):</div>
          <div class="col-4 col-md-6"> <b>{{ ca.male }}</b> <small>== {{ ca.peopleMale }}</small></div>

          <div class="col-8 col-md-6"><b>Female</b> (filled, counted):</div>
          <div class="col-4 col-md-6"> <b>{{ ca.female }}</b> <small>== {{ ca.peopleFemale }}</small></div>

          <div class="col-8 col-md-6"><b>Remark:</b></div>
          <div class="col-4 col-md-6">{{ ca.remark }}</div>
        </div>

        <div class="card mat-elevation-z2 col-12">
          <div class="col-12"><i>On Spot</i></div>

          <div class="col-8 col-md-6"><b>Male</b> (demand):</div>
          <div class="col-4 col-md-6"> <b>{{ ca.maleOnSpotDemand }}</b></div>

          <div class="col-8 col-md-6"><b>Female</b> (demand):</div>
          <div class="col-4 col-md-6"><b>{{ ca.femaleOnSpotDemand }}</b></div>

          <br />

          <div class="onspot-boxes col-12" *ngIf="dataService.CheckIfLink(ca.links, 'update')">
            <mat-form-field class="input">
              <input matInput name="caOnSpotM" [(ngModel)]="ca.maleOnSpot" placeholder="Male" type="number">
            </mat-form-field>
            <mat-form-field class="input">
                <input matInput name="caOnSpotF" [(ngModel)]="ca.femaleOnSpot" placeholder="Female" type="number">
            </mat-form-field>
            <br />

            <ng-container *ngIf="onSpotAlreadyApproved">
              <div class="already-approved">
                Already Approved
              </div>
            </ng-container>

            <button class="col-5 col-lg-4 btn"
              mat-raised-button color="primary"
              (click)="approveOnSpot()">
                Approve
            </button>

            <button class="col-5 col-lg-4 btn"
              mat-raised-button color="primary"
              (click)="approveOnSpot(true)">
                Approve All
            </button>
          </div>
        </div>

      </div>

      <div *ngIf="contingent" class="col-12 col-md-5">
        <div class="card mat-elevation-z2">
          <div class="col-12"><i>Contingent</i></div>

          <div class="col-8 col-lg-5"><b>Registered (M):</b></div>
          <div class="col-4 col-lg-7"> {{ dataService.GetPeopleBySex(contingent, false) }} </div>

          <div class="col-8 col-lg-5"><b>Registered (F):</b></div>
          <div class="col-4 col-lg-7"> {{ dataService.GetPeopleBySex(contingent, true) }} </div>

          <div class="col-8 col-lg-5"><b>Arrived (M):</b></div>
          <div class="col-4 col-lg-7"> {{ dataService.GetArrivedContingent(contingent, false) }} </div>

          <div class="col-8 col-lg-5"><b>Arrived (F):</b></div>
          <div class="col-4 col-lg-7"> {{ dataService.GetArrivedContingent(contingent, true) }} </div>

          <div class="col-8 col-lg-5"><b>Remark:</b></div>
          <div class="col-4 col-lg-7"> {{ contingent.remark }} </div>
        </div>

        <!-- Room allocations if any -->
        <div class="card mat-elevation-z2 col-12" *ngIf="ca && ca.roomAllocation && ca.roomAllocation.length>0">
            <div class="col-12"><i>Room Allocations</i></div>
            <div class="col-6" *ngFor="let roomA of ca.roomAllocation">
                  <a (click)="hostel(roomA.room.location)" class="hostel-link">
                      <b>{{ roomA.room.location }} - {{ roomA.room.roomName }}</b>
                  </a>
                  - {{ roomA.room.capacity}}
                <ng-container *ngIf="roomA.partial > 0">(part, {{roomA.partial}})</ng-container>
            </div>
        </div>

        <!-- Room allocation counts -->
        <div class="card mat-elevation-z2 col-12" *ngIf="ca && ca.roomAllocation && ca.roomAllocation.length > 0">
            <span class="h1-inline mr col-12"
                  [class.terror]="ca.allottedMale > ca.male">
                &#9794; {{ ca.allottedMale }} / {{ ca.male }}
            </span>
            <span class="h1-inline col-12"
                  [class.terror]="ca.allottedFemale > ca.female">
                &#9792; {{ ca.allottedFemale }} / {{ ca.female }}
            </span>
        </div>

      </div>
    </div>

    <br>

    <ng-container *ngIf="dataService.CheckIfLink(ca.links, 'buildings')">
      <button class="col-12 col-md-2 btn"
            mat-raised-button color="warn"
            (click)="allocate()">
          Select Hostel
      </button>

      <button class="col-12 col-md-1 btn"
            mat-raised-button color="warn"
            (click)="allocate('M')"
            [disabled]="this.dataService.hostelKeys.M === ''">
          Male
      </button>

      <button class="col-12 col-md-1 btn"
            mat-raised-button color="warn"
            (click)="allocate('F')"
            [disabled]="this.dataService.hostelKeys.F === ''">
          Female
      </button>
    </ng-container>

    <button class="col-12 col-md-2 btn"
          mat-raised-button color="primary"
          (click)="openContingent()"
          *ngIf="dataService.CheckIfLink(ca.links, 'contingent')">
        Open Contingent
    </button>
</div>
