<div *ngIf="progress > 0 && progress < 100">
  <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<h1> Upload Rooms Sheet </h1>

<ng-container *ngIf="uploadLink && uploadLink.href">
  <h3><a [href]="sampleLink" target="_blank">Download Template</a></h3>

  <div>
    <app-upload-component (uploaded)="sheetUploaded($event)"
                          [link]="uploadLink"
                          (progressChange)="progressChange($event)">
    </app-upload-component>
  </div>
</ng-container>

<br />

<ng-container  *ngIf="peopleUploadLink && peopleUploadLink.href">
  <h2> Upload People Sheet </h2>

  <div>
    <app-upload-component (uploaded)="peopleSheetUploaded($event)"
                          [link]="peopleUploadLink"
                          (progressChange)="progressChange($event)">
    </app-upload-component>
  </div>
</ng-container>

<div class="result" *ngIf="result">
  <h3> Updates Done </h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>Room No.</th>
        <th>Lock No.</th>
        <th>Status Code</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of result"
          class="room-row"
          [class.bad]="isRoomBad(room)">
        <td>{{ room.location }}</td>
        <td>{{ room.roomName }}</td>
        <td>{{ room.lockNo }}</td>
        <td>{{ room.status }}</td>
        <td><span *ngIf="room.remark">{{ room.remark }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
