<a mat-list-item [routerLink]="['/home']"> <mat-icon>home</mat-icon> &nbsp; Home</a>
<a mat-list-item [routerLink]="['/counter']"> <mat-icon>queue</mat-icon> &nbsp; Counter</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'contingents')"
    mat-list-item [routerLink]="['/contingent']">
    <mat-icon>list</mat-icon> &nbsp; Contingents
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'people')"
    mat-list-item [routerLink]="['/person']">
    <mat-icon>list</mat-icon> &nbsp; People
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'mark_buildings')"
    mat-list-item (click)="NavigateLayoutSelect()">
    <mat-icon>assignment</mat-icon> &nbsp; Rooms
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'mark_buildings')"
    mat-list-item [routerLink]="['/statistics']">
    <mat-icon>insert_chart</mat-icon> &nbsp; Statistics
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'upload-sheet')"
    mat-list-item [routerLink]="['/upload-sheet']">
    <mat-icon>cloud_upload</mat-icon> &nbsp; Upload Sheet
</a>

<a mat-list-item href="mailto:support@radialapps.com"> <mat-icon>bug_report</mat-icon> &nbsp; Report Bug</a>