<a mat-list-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon> &nbsp; Home
</a>

<a mat-list-item [routerLink]="['/counter']">
    <mat-icon>queue</mat-icon> &nbsp; Counter
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'contingents')"
    mat-list-item [routerLink]="['/contingent']">
    <mat-icon>people</mat-icon> &nbsp; Contingents
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'people')"
    mat-list-item [routerLink]="['/person']">
    <mat-icon>person</mat-icon> &nbsp; People
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'mark_buildings')"
    mat-list-item (click)="NavigateLayoutSelect()">
    <mat-icon>business</mat-icon> &nbsp; Rooms
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'mark_buildings')"
    mat-list-item [routerLink]="['/statistics']">
    <mat-icon>insert_chart</mat-icon> &nbsp; Statistics
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'upload-sheet')"
    mat-list-item [routerLink]="['/upload-sheet']">
    <mat-icon>cloud_upload</mat-icon> &nbsp; Upload Sheet
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'get-all-users')"
    mat-list-item [routerLink]="['/users']">
    <mat-icon>person</mat-icon> &nbsp; Manage Users
</a>

<a *ngIf="dataService.CheckIfLink(dataService.GetAPISpec(), 'get-logs')"
    mat-list-item [href]="dataService.GetLink(dataService.GetAPISpec(), 'get-logs').href" target="_blank">
    <mat-icon>fingerprint</mat-icon> &nbsp; View Logs
</a>

<a mat-list-item href="mailto:support@radialapps.com"> <mat-icon>bug_report</mat-icon> &nbsp; Report Bug</a>