<!-- Contingent search box-->
<div fxLayout
     fxLayoutGap="20px"
     fxLayoutGap.xs="3px">

    <mat-form-field fxFlex>
        <input matInput
               (keyup.enter)="FindContingent(enteredCL)"
               name="clno" [(ngModel)]="enteredCL" upperCase
               placeholder="Contingent Leader No.">
    </mat-form-field>

    <button mat-icon-button
            color="primary"
            (click)="FindContingent(enteredCL)"
            style="max-height:37px;">
        <mat-icon>search</mat-icon>
    </button>
</div>

<!-- Contingent search box-->
<div fxLayout
     fxLayoutGap="20px"
     fxLayoutGap.xs="3px">

    <mat-form-field fxFlex>
        <input matInput
               (keyup.enter)="FindPerson(enteredMI)"
               name="mino" [(ngModel)]="enteredMI" upperCase
               placeholder="MI Number">
    </mat-form-field>

    <button mat-icon-button
            color="primary"
            (click)="FindPerson(enteredMI)"
            style="max-height:37px;">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div fxLayout
     fxLayoutGap="20px"
     fxLayoutGap.xs="3px">

    <mat-form-field fxFlex>
        <input matInput
               (keyup.enter)="Desk1(enteredDesk1)"
               name="d1" [(ngModel)]="enteredDesk1"
               placeholder="Desk 1 - PIN">
    </mat-form-field>

    <button mat-icon-button
            color="primary"
            (click)="Desk1(enteredDesk1)"
            style="max-height:37px;">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div fxLayout
     fxLayoutGap="20px"
     fxLayoutGap.xs="3px">

    <mat-form-field fxFlex>
        <input matInput
               (keyup.enter)="Desk2(enteredDesk2)"
               name="d2" [(ngModel)]="enteredDesk2"
               placeholder="Desk 2 - PIN">
    </mat-form-field>

    <button mat-icon-button
            color="primary"
            (click)="Desk2(enteredDesk2)"
            style="max-height:37px;">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column">

</div>