.main {
    font-size: 1.2em;
    vertical-align: top;
}

.main > div {
    vertical-align: top;
}

.card {
    padding: 12px 20px;
    margin: 20px 4px;
    overflow: hidden;
}

.chart {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    max-width: 100%;
}

.ttip .tooltiptext {
    font-size: 0.6em;
}

@media (max-width: 768px) {
    .card {
        padding: 8px 15px;
        margin: 10px 0px;
    }
}
