<div *ngIf="buildings" class="main">
  <div class="col-12 col-md-5">
    <div class="card mat-elevation-z2">
      <h2>Total Capacity</h2>
      <p>Available - {{ getTotalAvailable() }}</p>
      <p>Filled - {{ getTotalFilled() }}</p>
      <p>Not Ready - {{ getTotalNR() }}</p>
    </div>
  </div>

  <div class="col-12 col-md-5">
    <div class="card mat-elevation-z2">
      <h2>Rooms</h2>
      <p>Total - {{ getRoomsTotal() }}</p>
      <p>Empty - {{ getRoomsEmpty() }}</p>
      <p>Partial - {{ getRoomsPartial() }}</p>
      <p>Full - {{ getRoomsFilled() }}</p>
      <p>Not Ready - {{ getRoomsNR() }}</p>
    </div>
  </div>
</div>
