<!-- Loading spinner -->
<div *ngIf="!buildings">
  <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<!-- Websocket status -->
<div class="websock-status"
    [class.red]="hubStatus === 0"
    [class.green]="hubStatus === 1"
    [class.blue]="hubStatus === 2">
</div>

<div *ngIf="buildings" class="main">
  <div class="col-12 col-md-6 d-inline-block" *ngFor="let s of ['M', 'F']">
    <div class="card mat-elevation-z2">
      <h2>Total Capacity {{ getIcon(s) }}</h2>
      <div>Available - {{ getTotalAvailable(s) }}</div>
      <div>Filled - {{ getTotalFilled(s) }}</div>
      <div>Not Ready - {{ getTotalNR(s) }} + {{ getTotalMaint(s) }} = {{ getTotalNR(s) + getTotalMaint(s) }}</div>
      <div>Reserved - {{ getTotalReserved(s) }}</div>
      <div class="chart">
        <google-chart [data]="totalPie[s]"></google-chart>
      </div>
    </div>

    <div class="card mat-elevation-z2 ca-stats" *ngIf="caStats">
      <h2>General Statistics {{ getIcon(s) }}</h2>
      <div class="ttip">
        Total Registered - {{ getCAStat(s, 'reg') }}
        <span class="tooltiptext">Registered People (Paid Online/Existing in Database)</span>
      </div>
      <div class="ttip">
        Desk 1 Approved - {{ getCAStat(s, 'd1Approved') }}
        <span class="tooltiptext">Total people approved from Desk 1 (including people not present in database, excluding on-spot)</span>
      </div>
      <div class="ttip">
        Registered Approved - {{ getCAStat(s, 'regApproved') }}
        <span class="tooltiptext">Registered people approved from Desk 1</span>
      </div>
      <div class="ttip">
        Desk 2 Allotted - {{ getCAStat(s, 'regWithRooms') }}
        <span class="tooltiptext">Sum of people approved from Desk 1 with rooms given from Desk 2 (Excluding On-Spot)</span>
      </div>
      <div class="ttip">
        Reg Bucket Queue - {{ getCAStat(s, 'd1Approved') - getCAStat(s, 'regWithRooms') }}
        <span class="tooltiptext">Desk 1 Approved - Desk 2 Alloted. Equals bucket queue of registered people</span>
      </div>
      <div class="ttip">
        Reg Pending Approval - {{ getCAStat(s, 'regPendingApproval') }}
        <span class="tooltiptext">Registered people filled form pending Desk 1 approval (unreliable, might have duplicates)</span>
      </div>
      <div class="ttip">
        On Spot Given - {{ getCAStat(s, 'onSpotGiven') }}
        <span class="tooltiptext">Total On Spot given from Desk 2 till now</span>
      </div>
      <div class="ttip">
        On Spot Demand - {{ getCAStat(s, 'onSpotPendingDemand') }}
        <span class="tooltiptext">On spot demand filled form having non-zero on spot allocated (very unreliable, might have duplicates)</span>
      </div>
    </div>

    <div class="card mat-elevation-z2">
      <h2>Available Capacity {{ getIcon(s) }}</h2>
      <div class="chart">
        <google-chart [data]="availableCapacityPie[s]"></google-chart>
      </div>
    </div>

    <div class="card mat-elevation-z2">
      <h2>Capacity Distribution {{ getIcon(s) }}</h2>
      <div class="chart">
        <google-chart [data]="capacityChart[s]"></google-chart>
      </div>
    </div>

    <div class="card mat-elevation-z2">
      <h2>Rooms {{ getIcon(s) }}</h2>
      <div>Total - {{ getRoomsTotal(s) }}</div>
      <div>Empty - {{ getRoomsEmpty(s) }}</div>
      <div>Partial - {{ getRoomsPartial(s) }}</div>
      <div>Full - {{ getRoomsFilled(s) }}</div>
      <div>Not Ready - {{ getRoomsNR(s) }} + {{ getRoomsMaint(s) }} = {{ getRoomsNR(s) + getRoomsMaint(s) }}</div>
      <div class="chart">
        <google-chart [data]="roomsPie[s]"></google-chart>
      </div>
    </div>

    <div class="card mat-elevation-z2">
      <h2>Rooms Distribution {{ getIcon(s) }}</h2>
      <div class="chart">
        <google-chart [data]="roomsChart[s]"></google-chart>
      </div>
    </div>
  </div>

</div>
