<div class="main">
  <div class="center">
    <img class="head" src="https://moodi.org/images/logo_horizontal.svg" />
  </div>

  <mat-vertical-stepper [linear]="true"
                        #stepper
                        (selectionChange)="constructDetails($event)"
                        [hidden]="caPIN">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Information</ng-template>

        <mat-form-field class="full-width">
          <input matInput placeholder="Contingent Leader No." formControlName="clno" required upperCase>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Your MI Number" formControlName="mino" required upperCase>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="People with you (Male)" formControlName="nmale" required type="number">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="People with you (Female)" formControlName="nfemale" required type="number">
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Arrival Details (Already Paid)</ng-template>

        <mat-form-field class="full-width" *ngFor="let person of details">
          <input matInput [placeholder]="getPlaceholder(person)" [formControlName]="person.ctrl" required upperCase>
        </mat-form-field>

        <div>
          <button class="button" mat-button matStepperPrevious>Back</button>
          <button class="button" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [optional]="true">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>On-Spot</ng-template>

        <mat-form-field class="full-width">
          <input matInput placeholder="On-Spot Requests (Male)" formControlName="maleOnSpotDemand" required type="number">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="On-Spot Requests (Female)" formControlName="femaleOnSpotDemand" required type="number">
        </mat-form-field>

        <div>
          <button class="button" mat-button matStepperPrevious>Back</button>
          <button class="button" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>

      <div *ngIf="validation" class="validation">
        <p>Contingent Leader No. - {{ validation.contingentLeaderNo }}</p>
        <div *ngFor="let caPerson of validation.caPeople">
          <span [ngClass]="getErrorClass(caPerson)">
            {{ caPerson.mino }} <span *ngIf="caPerson.person">- {{ caPerson.person.name }}</span>
          </span>
        </div>

        <br />

        <p *ngIf="hasOnspot()">
          You have requested for on-spot accommodation. Requests for on-spot accommodation will be granted
          on the basis on availability. Submitting this form does NOT mean you have received accommodation.
        </p>

        <p *ngIf="!hasSelf()">
          <b>
            It seems your own MI number is not present in the list. You should also include your MI number if you will
            be availing accomodation.
          </b>
        </p>

        <p *ngIf="!hasSome()">
          <b>
            Seems there is no one here! Make sure this is correct!
          </b>
        </p>

        <p *ngIf="validationDupes">
          <b>
            It seems there are duplicates in your filled MI numbers.
          </b>
        </p>

        <p *ngIf="hasValidationErrors()">
          <b>
            The MI numbers marked with red have some issues with payment or registration or are duplicate.
            If you think you have filled everything correctly, press the submit button and contact Hospitality Desk 1
          </b>
        </p>

      </div>

      <p class="ca-error" *ngIf="validationError">
        ERROR - {{ validationError }}
      </p>

      <div>
        <button class="button" mat-button matStepperPrevious>Back</button>
        <button class="button" mat-raised-button color="primary" [disabled]="submitting" (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div *ngIf="caPIN" class="text-center">
    <div class="big-pin">
      Your token is <br/> <span class="green">{{ caPIN }}</span>
    </div>
    <div>Produce this token number at <b>Hospitality Desk 1</b> for further action</div>
    <div>You may take the screenshot of this page</div>
    <div>Kindly don't fill the form multiple times with same MI Number</div>
  </div>

  <div *ngIf="submitting">
      <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
  </div>

</div>
