div.main {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}

.center {
    width: 75%;
    margin: 0 auto;
}

img.head {
    width: 100%;
    margin: 10px auto;
}

.full-width {
    width: 100%;
}

.button {
    margin-right: 5px;
}

form {
    margin-top: 10px;
}

.big-pin {
    font-size: 2em;
}

.big-pin .green {
    font-size: 2.8em;
    color: green;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.ca-error {
    font-weight: bold;
    color: red;
}

.ca-valid {
    color: green;
}

.validation {
    margin-bottom: 20px;
}
